<table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Avatar</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <!-- *ngFor de lặp   -->
      <tr *ngFor="let teacher of teachers">
        <td>{{teacher.id}}</td>
        <td>{{teacher.name}}</td>
        <td>{{teacher.age}}</td>
        <td>{{teacher.gender ? 'Nam' : 'Nữ'}}</td>
        <td>
          <img src={{teacher.avatar}} alt="">
          <!-- <img [src]="teacher.avatar" alt=""> cách 2 ưu tiên -->
        </td>
      <!-- *ngIf điều kiện   -->
        <td>
          <span *ngIf="teacher.status === 1" class="color-blue">Đang làm việc</span>
          <span *ngIf="teacher.status === 0" class="color-red">Đã nghỉ việc</span>
        </td>
      </tr>
    </tbody>
  </table>