<table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Avatar</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <!-- *ngFor de lặp   -->
      <tr *ngFor="let teacher of teachers">
        <td>{{teacher.id}}</td>
        <td>{{teacher.name}}</td>
        <td>{{teacher.age}}</td>
        <td>
          <app-gender [genz]="teacher.gender">
             
          </app-gender>
        </td>
        <td>
          <app-avatar 
          [src]="teacher.avatar"
          [age]="teacher.age"
          >
        </app-avatar>
        </td>
        <!-- <td>
           <img src={{teacher.avatar}} alt=""> 
           <img [src]="teacher.avatar" alt=""> cách 2 ưu tiên 
        </td> -->
      <!-- *ngIf điều kiện   -->
        <td>
          <app-status [stt]="teacher.status"></app-status>
        </td>
      </tr>
    </tbody>
  </table>