<div class="container">
    <header>Header
        <nav>
            <ul>
              <!-- sd routerLink thay vì href -->
              <li>
                <a routerLink="/">Home</a>
              </li>
              <li>
                <a routerLink="/user">User</a>
              </li>
              <li>
                <a routerLink="/admin">Admin-User</a>
              </li>
        
            </ul>
          </nav>
    </header>
    <div>
        <router-outlet></router-outlet>
    </div>
    <footer>Footer</footer>
</div>