<!--************************************
			Header Start
	*************************************-->
	<header id="tg-header" class="tg-header tg-haslayout">
		<div class="tg-topbar">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<ul class="tg-addnav">
							<li>
								<a routerLink="javascript:void(0);">
									<i class="icon-envelope"></i>
									<em>Contact</em>
								</a>
							</li>
							<li>
								<a routerLink="javascript:void(0);">
									<i class="icon-question-circle"></i>
									<em>Help</em>
								</a>
							</li>
						</ul>
						<div class="dropdown tg-themedropdown tg-currencydropdown">
							<a routerLink="javascript:void(0);" id="tg-currenty" class="tg-btnthemedropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="icon-earth"></i>
								<span>Currency</span>
							</a>
							<ul class="dropdown-menu tg-themedropdownmenu" aria-labelledby="tg-currenty">
								<li>
									<a routerLink="javascript:void(0);">
										<i>£</i>
										<span>British Pound</span>
									</a>
								</li>
								<li>
									<a routerLink="javascript:void(0);">
										<i>$</i>
										<span>Us Dollar</span>
									</a>
								</li>
								<li>
									<a routerLink="javascript:void(0);">
										<i>€</i>
										<span>Euro</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="tg-userlogin">
							<figure><a routerLink="javascript:void(0);"><img src="/assets/client/images/users/img-01.jpg" alt="image description"></a></figure>
							<span>{{userEmail}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tg-middlecontainer">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<strong class="tg-logo"><a routerLink="/"><img src="/assets/client/images/logo.png" alt="company name here"></a></strong>
						<div class="tg-wishlistandcart">
							<div class="dropdown tg-themedropdown tg-wishlistdropdown">
								<a routerLink="javascript:void(0);" id="tg-wishlisst" class="tg-btnthemedropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="tg-themebadge">3</span>
									<i class="icon-heart"></i>
									<span>Wishlist</span>
								</a>
								<div class="dropdown-menu tg-themedropdownmenu" aria-labelledby="tg-wishlisst">
									<div class="tg-description"><p>No products were added to the wishlist!</p></div>
								</div>
							</div>
							<div class="dropdown tg-themedropdown tg-minicartdropdown">
								<a routerLink="javascript:void(0);" id="tg-minicart" class="tg-btnthemedropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="tg-themebadge">
										<app-cart></app-cart>
									</span>
									<i class="icon-cart"></i>
									<span>$123.00</span>
								</a>
								<div class="dropdown-menu tg-themedropdownmenu" aria-labelledby="tg-minicart">
									<div class="tg-minicartbody">
										<div *ngFor="let item of cartItems" class="tg-minicarproduct">
											<figure>
												<img src={{item.img}} width="50px" alt="image description" class="p-2">
												
											</figure>
											<div class="tg-minicarproductdata">
												<h5><a routerLink="javascript:void(0);">{{item.name}}</a></h5>
												<h6><a routerLink="javascript:void(0);">Price: {{item.sale_price}}$</a></h6>
												<h6><a routerLink="javascript:void(0);">Quantity: {{item.value}}</a></h6>
												<h6><a routerLink="javascript:void(0);">Total: {{item.value * item.sale_price}}$</a></h6>
											</div>
										</div>
										
									</div>
									<div class="tg-minicartfoot p-3">
										<a class="tg-btnemptycart" href="javascript:void(0);">
											<i class="fa fa-trash-o"></i>
											<span>Clear Your Cart </span>
										</a>
										<span class="tg-subtotal">Subtotal: <strong>{{getTotalPrice()}} $</strong></span>
										<div class="tg-btns">
											<a class="tg-btn tg-active" href="javascript:void(0);">View Cart</a>
											<a class="tg-btn" href="javascript:void(0);">Checkout</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tg-searchbox">
							<form class="tg-formtheme tg-formsearch">
								<fieldset>
									<input type="text" name="search" class="typeahead form-control" placeholder="Search by title, author, keyword, ISBN...">
									<button type="submit"><i class="icon-magnifier"></i></button>
								</fieldset>
								<a routerLink="javascript:void(0);">+  Advanced Search</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tg-navigationarea">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<nav id="tg-nav" class="tg-nav">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<app-category></app-category>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--************************************
			Header End
	*************************************-->