<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="tg-sectionhead">
            <h2><span>People’s Choice</span>Bestselling Books</h2>
            <a class="tg-btn" href="javascript:void(0);">View All</a>
        </div>
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <div class="tg-postbook" *ngFor="let product of products">
                <figure class="tg-featureimg">
                    <div class="tg-bookimg">
                        <div class="tg-frontcover">
                            <a routerLink="/book/{{product._id}}"> <img src={{product.img}} alt="" ></a>
                        </div>
                        <div class="tg-backcover">
                            <a routerLink="/book/{{product._id}}"> <img src={{product.img}} alt="" ></a>
                        </div>
                    </div>
                    <a class="tg-btnaddtowishlist" routerLink="/book/{{product._id}}">
                        <i class="icon-heart"></i>
                        <span>Detail</span>
                    </a>
                </figure>
                <div class="tg-postbookcontent">
                    <ul class="tg-bookscategories">
                        <li><a href="javascript:void(0);">Adventure</a></li>
                        <li><a href="javascript:void(0);">Fun</a></li>
                    </ul>
                    <div class="tg-themetagbox"><span class="tg-themetag">sale</span></div>
                    <div class="tg-booktitle">
                        <h3>
                            <a routerLink="/book/{{product._id}}">
                                <h4 class="font-bold hover:underline">{{product.name}}</h4>
                            </a>
                        </h3>
                    </div>
                    <span class="tg-bookwriter">By: <a href="javascript:void(0);">Angela Gunning</a></span>
                    <span class="tg-stars"><span></span></span>
                    <span class="tg-bookprice">
                        <ins>${{product.price}}</ins>
                        <del>${{product.sale_price}}</del>
                    </span>
                    <!-- <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                        <i class="fa fa-shopping-basket"></i>
                        <em>Add To Basket</em>
                    </a> -->
                </div>
            </div>
        </div>
        
    </div>
</section>