<div>
    <a routerLink="/admin/books/create">
      <button class="btn btn-primary">Create</button>
    </a>
  </div>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Desc</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td><img src={{product.img}} width="100px"></td>
        <td>{{product.price}}</td>
        <td>{{product.desc}}</td>
        <!-- <td>
          <button
            *ngIf="product.status === 1"
            class="btn btn-success"
            (click)="onUpdateStatus(product._id, 0)"
          >ON</button>
          <button
            *ngIf="product.status === 0"
            class="btn btn-dark"
            (click)="onUpdateStatus(product._id, 1)"
          >OFF</button>
        </td> -->
        <td>
          <a routerLink="/admin/books/{{product._id}}">Detail</a>
          <!-- <a [routerLink]="['/admin', 'products', product.id]">
            <button class="btn btn-info">Detail</button>
          </a> -->
          <a routerLink="/admin/books/edit/{{product._id}}">
            <button class="btn btn-warning">Edit</button>
          </a>
          <button class="btn btn-danger" (click)="onDelete(product._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>